a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  a:hover {
    background-color: aliceblue;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .flex div {
    flex: 1;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }
